
/* IMAGENES DE FONDO DE LAS PAGINAS */

.home {
    background-image: url(../../core/img/inicio-bg.jpeg);
}

.about {
    background-image: url(../../core/img/inicio-bg.jpeg);
}

.portfolio {
    background-image: url(../../core/img/inicio-bg.jpeg);
}

.contact {
    background-image: url(../../core/img/inicio-bg.jpeg);
}

.imagen-fondo {
    background-position: center center;
    min-height: 60vh;
    background-attachment:scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-perfil {
    position: absolute;
    top: 12%;
    left: 80%;
    width: 10%;
    border-radius: 50%;
    z-index: 1;
}

.fw-lighter {
    width: 100%;
    display: flex;
    text-align: justify;
    font-size: 1.75em;
    padding: 0.6em;
}

.titulos {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
}

.img-fluid {
    max-width: 70%;
    height: auto;
    border-radius: 0.4em;
    box-shadow: 10px 10px 8px #ccc;
}

.img-perfil {
    border-radius: 50%;
    border: 4px solid #ffff;
} 

.skill__logo {
    width: 70px;
    height: auto;
    border-radius: 0.5em;
    box-shadow: 10px 10px 8px #ccc;
}

.col-lg-3 {
    margin-left: 1%;
}

/* FOOTER */

.footer {
    grid-area: footer;
    background-color: #6d6d6d;
    color: #dadada;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__texto {
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.footer__lista {
	text-decoration: none;
	display: flex;
	list-style: none;
	justify-content: center;
}

.footer__icono {
	color: #b9b9b9;
	font-size: 30px;
	padding: 0 10px;
	display: block;
}

.footer__icono:hover {
    color: rgb(255, 255, 255);
    font-size: 33px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
    .footer__texto {
        font-size: 14px;
        flex-wrap: wrap;
        font-weight: normal;
        text-align: center;
    }
}

/* CONOCIMIENTOS - MANEJO DE LOS ICONOS */

.skills__container {
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 30px;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

.card__skills {
    margin: 20px 15px;
    padding: 20px 20px;
    max-height: 200px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.skill__logo {
    width: 70px;
    height: auto;
}

.skill__titulo {
    margin-top: 5px;
    font-size: 16px;
    color: #033F62;
}

/**********************************************/

#contacto {
    display: flex;
}

.col-lg-8 {
    flex: 0 0 auto;
    width: 100%;
}

.p-md-5 {
    padding: 1rem 1rem 0.5rem 1rem!important;
}

.contacto_parrafo {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.5em;
}

.contacto_info {
    width: 50%;
    padding: 0 2em;
    font-size: 1.2em;
}

.mx-auto {
    margin-right: 0!important;
    margin-left: 0!important;
}