{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}
{% block image-header %}contact{% endblock %}
{% block title-header %}
<div class="row">
    <div class="col-12 titulos">
        <div>
            <h1 class="display-4 fw-bold">Contacto</h1>
        </div>
        <div>
            <h3 class="fs-2">Servicios IT Independientes</h3>
        </div>
    </div>
</div>
{% endblock %}
{% block content%}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" id="contacto">
        <div class="contacto_parrafo">
            <p>Lo Invito a Comunicarme sus Necesidades en Desarrollo de Software en Frontend y Backend (Python, Javascript y Java)</p>
        </div>
        <div class="contacto_info">
            <p><b>Email:</b> jolugales@gmail.com</p>
            <p><b>Teléfono:</b> +54 11 3364 9070</p>
            <p><b>Honorarios:</b> A Convenir</p>
        </div>
    </div>
</div>
{% endblock %}
