{% extends 'core/base.html' %}
{% block title %}Inicio{% endblock %}
{% block image-header %}home{% endblock %}
{% block title-header %}
<div>
    <h1 class="display-4 fw-bold">José Luis Galvis</h1>
</div>
<div>
    <h3 class="fs-2">Full Stack Developer</h3>
</div>
{% endblock %}
{% block content%}
<h1 class="fw-lighter fst-italic px-5"> 
        Motivado para aportar mi experiencia, aprender y crecer continuamente,
        bajo la perspectiva del learning by doing, desarrollando habilidades 
        que permitan ser más eficiente en el cumplimiento de las funciones laborales 
        para incrementar la productividad.
</h1>
{% endblock %}